{% extends 'base/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<script>

    window.location = "/";

</script>
{% endif %}
        
         
<div class="form-login pt-5 pb-5 mt-5">
    <h2 class="text-center">Influencer Login</h2>
      <form class="row g-3 mt-3" method='POST' action=''>
        {% csrf_token %}
        
        <div class="col-md-6">
            <input type="email" name='email' placeholder="Enter your Email" class="form-control" id="inputEmail4">
          </div>
          
        <div class="col-md-6">
          <input type="password" name='password' placeholder="Enter your Password" class="form-control" id="inputPassword4">
        </div>
         
         
        <div class="col-12">
          <button type="submit" class="btn btn-primary signup-btn">Login</button>
        </div>
        <p class="text-center">Don't have an account? <a href="{% url 'influencer:influencer-register' %}">Signup</a></p>
      </form>
    </div>




{% endblock content %}