{% extends 'base/admin-base.html' %}
{% block content %}
<style>

  .main-body {
      padding: 15px;
  }
  .card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }
  
  .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
  }
  
  .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
      background-color: #e2e8f0;
  }
  .h-100 {
      height: 100%!important;
  }
  .shadow-none {
      box-shadow: none!important;
  }

</style>
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center" id="mydiv">
                    
                  </div>
                </div>
              </div>
            
            </div>
            <div class="col-md-9">
              <div class="card mb-3">
                <div class="card-body">

<div class="card-body p-0">
  <table class="table table-striped projects">
      <thead>
          <tr>
            
              <th style="width: 35%">
                Tiles
              </th>
              <th style="width: 15%">
                Views	
              </th>
              <th style="width: 25%"  >
                Publishing Date
              </th>
              <th style="width: 10%" class="text-center">
                Likes  	
              </th>
              <th style="width: 10%" class="text-center">
                Comments  	
              </th>
             
          </tr>
      </thead>

      {% comment %} {% if influencers != None %} {% endcomment %}
      <tbody id="myBody">
          </tbody>
        </table>
</div>
             
                
                </div>
              </div>





            </div>
          </div>

        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<form action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="ids" value="{{channel}}">
</form>  


<script>
  function get_data(){
    $.ajax({
            url: "{% url 'admin_section:challen-view' %}",
            type: "POST",
            data: {
                security_code:$("input[name='ids']").val(),
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            
            success: function (data) {
              
              var img_part=  document.getElementById('mydiv')
              row = `<img src="${data.ChannelLogo}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                      <h4>${data.Name}</h4>
                      <p class="text-secondary mb-1">Location: ${data.ChannelLocation}</p>
                      <p class="text-muted font-size-sm">Total Videos: ${data.VideosCount.length}</p>
                      <a class="btn btn-primary" target="_blank" href='${data.ChannelURL}'>Open on YouTube</a>
                    </div>
              `
              img_part.innerHTML += row


              response = data.VideosCount
              
              for (var i = 0; i < response.length ; i++){
                // get video one by one 
                function start_func(){ 
                                $.ajax({
                                    url: "{% url 'admin_section:get_video' %}",
                                    type: "POST",
                                    data: {
                                        security_code:$("input[name='ids']").val(),
                                        rows_id:response[i].id,
                                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                                    },
                                    success: function (data) { 
                                      console.log("start func" , data)
                                      var table =   document.getElementById('myBody')
                                      tb_row = `
                                                      <tr>
                                                        <td>
                                                            <a target='_blank' href='${data.url}'>
                                                              ${data.title}
                                                            </a>
                                                        </td>
                                            
                                                      <td class="project_progress">
                                                        <li class="list-inline-item">
                                                          <a>  ${data.views }</a>
                                                        </li>
                                                      </td>
                                            
                                                    <td class="project_progress">
                                                      <li class="list-inline-item">
                                                        <a>  ${data.plub_date }</a>
                                                      </li>
                                                    </td>

                                                    <td class="">
                                                      <a>${data.likes}</a>
                                                  </td>

                                                  <td class="">
                                                    <a>${data.CommentsCount}</a>
                                                </td>
                                              
                                              </tr>          
                                            `
                                  table.innerHTML += tb_row   
                                    }
                                });
                              }
                           

                // end of ( get video one by one )
                window.addEventListener("load" , start_func()) 
                
              }//end loop
            } 
        });
  }

       
          
    window.addEventListener("load" , get_data())

</script>


{% endblock %}