{% extends 'base/base.html' %}
{% block content %}

<style>
  select:required:invalid {
    color: gray;
  }

  option {
    color: black;
  }
</style>
<div class="container">


  <!-- inquiry section  -->

  <form id="regForm" method='POST'>
    {% csrf_token %}

  <!-- One "tab" for each step in the form: -->
    <div class="tab">      <div class="form-enquiry mt-5 next-0">
        <h3 class="text-center">Fill your basic info</h3>
        <div class="row g-3 mt-3">
          <div>
            <input type="text" class="form-control" placeholder="Enter your full Name" name='name' id="inputName" required="required">
          </div>
          <div>
            <input type="email" placeholder="Enter your Email" name='email' class="form-control" id="inputEmail4" required="required">
          </div>
          <div>
            <input type="number"  name="telephone"  placeholder="Telephone Number" class="form-control" id="inputPassword4" required="required">
          </div>
          <div>
            <input type="text" placeholder="Industry" name="industry"  class="form-control" id="inputPassword4" required="required">
          </div>
        
        </div>
      </div>
    </div>
    <div class="tab">
      <div class="px-4 pt-5  text-center form-enquiry mt-5 next-1">
        <h3 class="text-center">Select Advertising Period</h3>
        <div class="row g-3 mt-3">
          <div class="col-md-6">
            <input type="date" class="form-control" name="start_date"  placeholder="Start Date" id="inputName" required="required">
          </div>
          <div class="col-md-6">
            <input type="date" placeholder="End Date" name="end_date"  class="form-control" id="inputEmail4" required="required">
          </div>

        </div>
      </div>
    </div>
    <div class="tab">
      
  <!-- format section  -->
  <div class="form-enquiry mt-5 next-2">
    <h3 class="text-center">What Format Wanted?</h3>
    <div class="row g-3 mt-3">
      <div class="col-md-12">
        <select id='ad-format' required="required" class="form-select" name="adv_format">
          <option value="" disabled selected > Select Ad Format</option>

            <option value="post">Post</option>
            <option value="photo">Photo</option>
            <option value="video">Video</option>
            <option value="other">Other</option>
        </select>
      </div>
     
    </div>
  </div>
  <!-- format sec  -->
    </div> 
    <div class="tab">
        <!-- Influencer section  -->
  <div class="form-enquiry mt-5 next-3">
    <h3 class="text-center">The Influencer Looking For</h3>
    <div class="row g-3 mt-3">

      <div class="col-md-6">
        <select id='platform' required class="form-select" name="platform">
          <option value="" disabled selected > Select Influencer Platform</option>
            <option value="youtube">YouTube</option>
            <option value="facebook">Facebook</option>
            <option value="instagram">Instagram</option>
        </select>
      </div>

      <div class="col-md-6">
        <select required placeholder='Category' id='defaultCategory' class="form-select" name="categories">
          <option value="" disabled selected > Select a Plateform First </option>
        </select>


                        <select required placeholder='Category' id='YTcategories' class="form-select" name="categories">
                          <option value="" disabled selected > Select Influencer Category </option>
                            {% for cat in categories %}
                            <option value="{{cat.category}}"> {{cat.category}} </option>
                            {% endfor %}
                        </select>

                        <select required placeholder='Category' id='FBcategories' class="form-select" name="categories">
                          <option value="" disabled selected> Select Influencer Category </option>
                          {% for fbcat in FBCategories %}
                          <option value="{{fbcat.category}}"> {{fbcat.category}} </option>
                          {% endfor %}
                      </select>

                      <select required placeholder='Category' id='Instacategories' class="form-select" name="categories">
                        <option value="" disabled selected> Select Influencer Category </option>

                        {% for Instacat in InstaCategories %}
                        <option value="{{Instacat.category}}"> {{Instacat.category}} </option>
                        {% endfor %}
                    </select>
      </div>
  
      <div class="col-md-12">
        <select required name='followers' id='followers' class="form-select">
          <option value="" disabled selected > Select Influencer Followers</option>

            <option value="0 to 50k">0 to 10k+</option>
            <option value="10K to 50k">10K to 50k+</option>
            <option value="50k to 100k">50k to 100k</option>
            <option value="100k to 500k">100k to 500k</option>
            <option value="500k to 1M">500k to 1M</option>
            <option value="More than 1M">more than 500k</option>
        </select>
      </div>
     
    </div>
  </div>
  <!-- Influencer sec  -->
    </div>
    <div>
      <div class="mt-3" style="width:50%; margin:auto">
        <button class="btn_form" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        <button class="btn_form_pre" type="margin-top:10px;" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;" class="mt-4">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
  <!-- end inquiry sec  -->
    {% comment %} <div class="row justify-content-center mt-5">
        <div class="col-md-5">

            <form method="POST">
                {% csrf_token %}
                
                <!-- Name -->
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control">
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <!--  phone-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="text" name="telephone" class="form-control">
                </div>
                <!-- Industry-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Industry</label>
                    <input type="text" name="industry" class="form-control">
                </div>
                <!-- Select Advertising Period -->
                <div class="mb-3 border p-3">
                    <label for="exampleInputEmail1" class="form-label">Select Advertising Period</label>
                    <hr>
                    <div>
                        <label class="form-label">Start Date</label>
                        <input type="date" name="start_date" class="form-control">
                    </div>

                    <div>
                        <label class="form-label">End Date</label>
                        <input type="date" name="end_date" class="form-control">
                    </div>
                    
                </div>

                <!-- FORMAT WANTED     -->
                <label class="form-label">What Format Wanted ?</label>
                <select class="form-select" name="adv_format">
                    <option value="post">Post</option>
                    <option value="photo">Photo</option>
                    <option value="video">Video</option>
                    <option value="other">Other</option>
                </select>

                <!-- categories -->
                <div class="mb-3  mt-3 border p-3">
                    <label for="exampleInputEmail1" class="form-label">The Influencer Looking for</label>
                    <hr>
                    <div>
                        <label class="form-label">Categories</label>
                        <select class="form-select" name="categories">
                            {% for cat in categories %}
                            <option value="{{cat.id}}"> {{cat.name}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mt-3">
                        <label class="form-label">Platform</label>
                        <select class="form-select" name="platform">
                            <option value="youtube">You-Tube</option>
                            <option value="facebook">Facebook</option>
                            <option value="instagram">Instagram</option>
                        </select>
                    </div>
                    
                </div>
               
               
                <!-- followers -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Followers</label>
                    <input type="number" name="followers" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary mb-5">Submit</button>
              </form>
        </div>   
    </div>
   {% endcomment %}
  

</div>

<script>
  $('#YTcategories').hide()
  $('#FBcategories').hide()
  $('#Instacategories').hide()


  $( "#platform" ).change(function() {
    if ($('#platform').find(":selected").val() == "youtube"){
      $('#YTcategories').show()
      $('#FBcategories').hide()
      $('#Instacategories').hide()
      $('#defaultCategory').hide()


      
  }
  
  if ($('#platform').find(":selected").val() == "facebook"){
      $('#FBcategories').show()
      $('#YTcategories').hide()
      $('#defaultCategory').hide()
      $('#Instacategories').hide()
      
   
  }
  
  if ($('#platform').find(":selected").val() == "instagram"){
      $('#Instacategories').show()
      $('#YTcategories').hide()
      $('#defaultCategory').hide()
      $('#FBcategories').hide()
      
  }
  });

</script>

{% endblock content %}